body,
h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 17, 36, 1);
    padding: 70px 0px 70px 0px;
}

.left-side{
    width: 50%;
}

.left-side__picture {
    width: 70%;
    margin: 0 auto;
}

.left-side__picture img {
    height: 100%;
}

.right-side{
    width: 50%;
    
}

.reg-form {
    width: 60%;
    margin: 0 auto;
}

.reg-form__header {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    line-height: 62px;
    margin-bottom: 30px;
}

label {
    display: block;
    color: #ffffff;
    font-family: 'Golos Text', sans-serif;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.reg-form__btn>button {
    display: block;
    margin: 20px auto 0px auto;
    width: 180px;
    height: 43px;
    background: rgba(1, 95, 199, 1);
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.error {
    border: 2px solid red
}

.error-msg {
    margin-top: 15px;
    color: red;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}