body {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(184, 177, 177);
}

.card p {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}