body,
h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 17, 36, 1);
}

.left-side {
    width: 60%;
    padding: 100px 0 0px 0px;

}

.left-side__img {
    width: 65%;
}

img {
    width: 100%;
    height: 100%;
}

.right-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 70%;
}

.login-form__header {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    line-height: 62px;
    margin-bottom: 30px;
}

label {
    display: block;
    color: #ffffff;
    font-family: 'Golos Text', sans-serif;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 30px;
}

#email {
    margin-bottom: 10px;
}

.login-form__not-user {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: 'Golos Text', sans-serif;
}

.login-form__login-btn{
    width: 180px;
    height: 43px;
    background: rgba(1, 95, 199, 1);
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.error {
    border: 2px solid red
}

.error-msg {
    margin-top: 15px;
    color: red;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}