body,
p,
h2 {
    margin: 0;
}

.comments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0 20px 0;
}

.comment {
    width: 80%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: grey;
    padding: 10px;
    border-radius: 20px;
}

.comment__name {
    text-align: center;
    margin-bottom: 10px;
}

.comment__body {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.paggination {
    text-align: center;
    padding-bottom: 30px;
    width: 30%;
    margin: 0 auto;
}

.active {
    background: green;
}

.unvisible {
    visibility: hidden;
}