.work{
  width: 95%;
  display: flex;
  background-color: tan;
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px;
}
.window-input{
    width: 50%;
    border-radius:  20px 0 0 20px ;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 10px;
}
.window-result{
    width: 50%;
    border: 5px solid red;
    background: #fdfffe;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.window-result div{
    border: 1px solid black;
    background-color: #0be039;
    margin: 5px;
    padding: 10px;
}
.window-result p{
    background: #F5F5F5;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}
.window-result a{
    text-decoration:underline;
    margin: 2px;
    padding: 5px;
}
.window-result h1{
    font-weight: 600;
    font-size: 2.8rem;
    margin: 2px;
}

.work > p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}
.work span{
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
}
.out{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 60px;
    background: #015FC7;
    border-radius: 5px;
    cursor: pointer;
}

.error-box{
    height: 50%;
    background: rgba(0, 0, 0, 0.466);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 0;
    right: 0;
}
.error-box > p{
    font-weight: 700;
    font-size: 2.5rem;
    color: red;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 2px solid red;
}
