.blue{
    background: blue;
}
.red {
    background: red;
}
.div1 {
    width: 400px;
    height: 400px;
    background: green;
}
.outer-div {
    width: 200px;
    height: 200px;
    position: relative;
}
.inner-div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
   
}
.div-move {
    top: 50%
}
.color-selector {
    display: block;
}