* {
    box-sizing: border-box;
    text-align: center;
}

body,
p {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
}

.header__nav {
    width: 100%;
    height: 100%;
}

.main {
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.section-left {
    width: 80%;
    border: 1px solid red;
}

.section-left__header {
    width: 100%;
    height: 10%;
    border: 1px solid green
}

.section-left__article1 {
    width: 100%;
    height: 40%;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article1__header,
.arcticle1__footer,
.arcticle1__p1,
.article2__header,
.arcticle2__p,
.arcticle2__footer {
    width: 100%;
    height: 25%;
    border: 1px solid blue;
}

.arcticle1__p2,
.arcticle1__aside {
    width: 50%;
    height: 25%;
    border: 1px solid blue;
}

.section-left__article2 {
    width: 100%;
    height: 40%;
    border: 1px solid green
}

.section-left__footer {
    width: 100%;
    height: 10%;
    border: 1px solid green
}

.section-right {
    width: 20%;
    border: 1px solid red;
}

.section-right__header {
    width: 100%;
    height: 10%;
    border: 1px solid green
}

.section-right__nav {
    width: 100%;
    height: 90%;
    border: 1px solid green
}

.footer {
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
}