.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.circle {
    border: solid black 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}